<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="navigate('a', 'something on page A1something on page A1something on page A1')">
      <ion-icon name="close-outline"></ion-icon>
      <ion-label>A1</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navigate('b', 'something on page B1something on page B1something on page B1')">
      <ion-icon name="close-outline"></ion-icon>
      <ion-label>B1</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navigate('a', 'SOMETHING ELSE ON PAGE A2SOMETHING ELSE ON PAGE A2')">
      <ion-icon name="close-outline"></ion-icon>
      <ion-label>A2</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="navigate('b', 'SOMETHING ELSE ON PAGE B2SOMETHING ELSE ON PAGE B2')">
      <ion-icon name="close-outline"></ion-icon>
      <ion-label>B2</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
