.busy-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

ion-content {
  --background: rgba(255, 255, 255, .0);
}

.with-background {
  background-color: white;
}
