<div class="busy-overlay">
</div>

<ion-header class="ion-no-border">
</ion-header>

<ion-content style="background-color: rgba(255,255,255,0)">
  {{ route.snapshot.paramMap.get('something') }}
  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  {{ route.snapshot.paramMap.get('something') }}
  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
  {{ route.snapshot.paramMap.get('something') }}
</ion-content>
