// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
  font-family: 'Roboto';
  src: url('/assets/font/Roboto-Bold.ttf');
  font-style: bold;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/font/Roboto-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/font/DMSans-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  src: url('/assets/font/SourceCodePro-Regular.ttf');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
